
<%-include('partials/header.ejs')%>

    <div class="container-fluid">
        <div class="row content">

            <%-include("partials/navBar.ejs")%>

                <div class="col-sm-9">

                    <form role="form" action="/post" method="post">
                      <div class="form-group">
                        <label for="title">Title:</label>
                        <input class="form-control" type="text" name="title" id="title">
                        <label for="category">Category:</label>
                        <input class="form-control" type="text" name="category" id="category">
                        <label for="description">Description:</label>
                        <textarea class="form-control" rows="3" required name="description" id="description"></textarea>
                        <label for="content">Content:</label>
                        <textarea class="form-control" rows="9" required name="content" id="content"></textarea>
                        <label for="author">Author:</label>
                        <input class="form-control" type="text" name="author" id="author">
                    
                      </div>
                      <button type="submit" class="btn btn-success form-control" id="post-post" >Create Post</button>
                    </form>

                </div>
        </div>
    </div>

    <%-include('partials/footer.ejs')%>





